# Auto detect text files and perform LF normalization
* text=auto

# Files to encrypt
config.toml	filter=git-crypt diff=git-crypt
assets/**	filter=git-crypt diff=git-crypt
content/**	filter=git-crypt diff=git-crypt
layouts/**	filter=git-crypt diff=git-crypt
static/**	filter=git-crypt diff=git-crypt

# The .gitattributes file must not be encrypted
.gitattributes !filter !diff

